<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafael Nadal</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>About Rafael Nadal</h1>
    <p>Rafael Nadal (born June 3, 1986, Manacor, Mallorca, Spain) is a Spanish tennis player who emerged in the early 21st century as one of the game’s leading competitors, especially noted for his
    performance on clay. He won a record 13 career French Open championships, and his total of 21 Grand Slam men’s singles
    titles was the most in tennis history.</p>
    <img src="" alt="">
</body>
</html>