<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rafael Nadal</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Interesting facts about Rafael Nadal</h1>

    <img src="/images/rafael_nadal_young.jpg" alt="rafael_nadal_young" />

    <ul>
      <li>
        <h2>He has won the most grand slam titles amoung male players</h2>
        <p>
          On sunday Jan 30th 2022, he has won the Australian Open tournament and
          is now the male player with most grand slam titles ever.
        </p>
      </li>

      <li>
        <h2>He picked tennis over soccer at 12 years old</h2>
        <p>
          With soccer in his blood and tennis being so demanding, Rafael Nadal
          had to make a serious decision when he was 12 years old. There was an
          opportunity to continue focusing on soccer only and hoping for the
          best, or to pursue tennis full-time. He chose the latter, and although
          it’s impossible to tell how great he could have been on the pitch,
          most think he made the right decision.
        </p>
      </li>

      <li>
        <h2>He beat a Grand Slam Champion before he was 15 years old</h2>
        <p>
          In an exhibition match, Nadal caught the tennis world by surprise by
          beating Pat Cash. The 1987 Wimbledon winner was retired at the time,
          but still playing regularly in numerous events around the world.
        </p>
      </li>

      <li>
        <h2>Every trophy gets the same signature bite</h2>
        <p>
          When he won his first French Open in 2004, many people were surprised
          to see his unique celebration when he was awarded the trophy and
          started getting pictures taken. It is a tradition that he still keeps
          up with today, gently biting every trophy in front of photographers.
        </p>
      </li>
    </ul>
  </body>
</html>
